<div class="two-column-container">
    <div class="text-column">
      <h2>At Nafsiya Wellbeing Clinic, we are committed to supporting your mental and emotional wellbeing with kindness, understanding, and expertise. </h2>
      <p>Founded in 2023 by Clinic Director Danielle Beaini, Nafsiya Wellbeing Clinic is centered around creating a safe, welcoming environment, where compassion and personalized care lead to the best recovery outcomes for each client.</p>
      <p>Whether you are seeking support for yourself, your child, or your family, we offer tailored solutions, helping you overcome challenges and thrive in every aspect of your life.</p>
      <p>We can offer services in both Arabic and English.</p>

      <br><br>
      <h2 style="margin-bottom: 5px;">Danielle Beaini</h2><p>DIRECTOR AND CLINICAL PSYCHOLOGIST</p>
      <p><strong>Qualifications</strong><br>Masters Clinical Psychology<br>Masters Counselling<br>Bachelor Psychological Studies (Honours)</p>
      <p><strong>Registrations</strong><br>AHRPA (PSY0002272824)<br>Australian Psychological Society (MAPS)</p>
    </div>
    <div class="image-column">
      <img src="/img/about-image.svg" alt="Danielle Beaini">
    </div>
  </div>