<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <div class="footer-logo">
          <img src="/img/Nafsiya-Wellbeing-Clinic Logo-white.svg" alt="Nafsiya Wellbeing Clinic">
        </div>
        <p>MILLEARA MEDICAL SUITES SUITE 4, L1, 235 MILLEARA RD KEILOR EAST VIC 3033</p>
      </div>
      <div class="footer-section">
        <h3>TRADING HOURS</h3>
        <p>MONDAY: 9AM - 7PM</p>
        <p>TUESDAY: 9AM - 5PM</p>
        <p>WEDNESDAY: 9AM - 7PM</p>
        <p>THURSDAY: 9AM - 7PM</p>
        <p>FRIDAY: 9AM - 2PM</p>
        <p>SATURDAY: CLOSED</p>
        <p>SUNDAY: CLOSED</p>
      </div>
      <div class="footer-section">
        <h3>KEEP CONNECTED</h3>
        <p>INFO@NAFSIYA.COM.AU</p>
        <p>0468 901 320</p>
        <div class="social-icons">
          <a href="https://www.instagram.com/nafsiya_wellbeing/" class="social-icon">
              <img src="/img/Instagram_icon.png" alt="Instagram">
          </a>
          <a href="https://www.facebook.com/profile.php?id=100095028040167" class="social-icon">
              <img src="/img/fb-icon.png" alt="Facebook">
          </a>
      </div>
      </div>
      <div class="footer-section">
        <p>Nafsiya Wellbeing clinic is committed to fostering a safe, inclusive, and respectful environment for all clients and employees. We prioritize creating an environment where diversity is celebrated, and strive to ensure that our business operates with integrity and care for all individuals, regardless of background, identity, or experience.</p>
      </div>
    </div>
  </footer>