<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a href="/">
        <img src="../img/Nafsiya-Wellbeing-Clinic-Logo-colour.svg" alt="Nafsiya Wellbeing Clinic">
      </a>
    </div>
    <button type="button" class="navbar-toggle" id="navbar-toggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <ul class="navbar-menu" id="navbar-menu">  
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Nafsiya</a></li>
      <li><a href="/services">Our Services</a></li>
      <li><a href="/faqs">FAQs</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
    <div class="navbar-cta">
      <a href="/contact" class="btn">BOOK AN APPOINTMENT</a>
    </div>
  </div>
</nav>