<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        {{ partial "hero-banner.html" . }}

        {{ partial "homepage.html" . }}

        {{ partial "about.html" . }}

        {{ partial "services.html" . }}

        {{ partial "contact-form.html" . }}


        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
